# Environment Variables
PROJECT_NAME="SIH 2026 PS-129 Interoperability Platform"
SECRET_KEY="sih2026-super-secret-key-for-jwt-token-auth"
DATABASE_URL="sqlite:///./sih2026.db" # or postgresql://user:password@localhost:5432/sih2026
